html, body {
    margin: 0px;
    padding: 0px;
    background-color: #c492ba; 
}

#canvas {
    background-color: rgb(250, 227, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}